name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  scan_ruby:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler: 2.5.8
          bundler-cache: true
        env:
          BUNDLER_FORCE_RUBY_PLATFORM: true

      - name: Run Brakeman
        run: bundle exec brakeman -q --no-pager

  scan_js:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler: 2.5.8
          bundler-cache: true
        env:
          BUNDLER_FORCE_RUBY_PLATFORM: true

      - name: Scan for security vulnerabilities in JavaScript dependencies
        run: bin/importmap audit

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler: 2.5.8
          bundler-cache: true
        env:
          BUNDLER_FORCE_RUBY_PLATFORM: true

      - name: Lint code for consistent style
        run: bin/rubocop -f github
